<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache">
    <title>{{ page.title }}</title>

    <!-- CSS GRID -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.png" />  
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/base.css" type="text/css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/font.css" type="text/css" />

    <!-- Google Analytics -->
    <!-- End of Google Analytics -->
</head>
<body>
    <div class="container">
        <div id="menu">
            <ul>
              <li><a class="icon-user" href="/about/"></a></li>
              <li><a class="icon-book" href="/about/"></a></li>
              <li><a class="icon-github" href="http://github.com/magicjarvis"></a></li>
              <li><a class="icon-twitter" href="http://twitter.com/jarvis"></a></li>
              <li><a class="icon-feed" href="#"></a></li>
            </ul>
        </div>


        <div id="main">
            <h1>Jarvis Johnson</h1>
            <div class="content">
                {{ content }}
            </div>

            <div class="textwidget">
                <h2>About Me</h2>
                <p class="space">I'm Jarvis Johnson. I'm a 4th year computer science major at Georgia Tech. I currently work at Yelp.</p>
                <p class="space">I like to write about self-help and computer science.</p>
                <p class="space">If you want to reach me, send me an email: JarvisJohnson (at) gatech.edu</p>
                <a href="https://twitter.com/jarvis" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @jarvis</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <br>
                <img id="side-img" src="http://www.empoweringleadership.org/assets/0/76/2147483652/bdc0f192-e5f9-4fa1-af09-ff9c33904487.jpg">
                <p class="space space-t"><h3>Popular Posts</h3></p>
                <p class="space"><a href="tests/2013/06/29/test-post/">The (Overrated) Internship</a></p>
                <p class="space"><a href="/2012/05/22/interviewing-at-google-facebook-foursquare-dropbox-fog-creek-etc/">Interviewing at Top Tech Companies: The Takeaways</a></p>
                <p><a href="/2012/05/26/beating-the-scribd-ai-challenge-implementing-traits-through-heuristics-part-1/">Intro to Algorithms: Quicksort</a></p>
            </div><!-- textwidget -->
        </div><!-- #main -->



        <div id="footer">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
            <img alt="Creative Commons License" style="border-width:0" src="{{ ASSET_PATH }}/cc-logo.svg" />
          </a>
          <p>Generated with <a href="#">Jekyll</a></p>
        </div>

    </div><!-- #container -->
</body>
</html>
